.navbar-inner {
    background-image: none;
    background-color: #2A93FC;
}
.navbar .nav > li > a{
    color:white;

}
.navbar .nav{
  margin-top: 20px !important;
}
.navigation{
  padding-top:10px;
}
